<%= form_for @cp do |f| %>
 
  <% if @cp.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@cp.errors.count, "error") %> prohibited this article from being saved:
      </h2>
      <ul>
        <% @cp.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
 
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="form-group">
    <%= f.label :location_id %>
    <%= f.select(:location_id, @cp.location_id, class: 'form-control') do %>
      <% Location.all.each do |loc| %>
        <%= content_tag(:option, loc.title, value: loc.id) %>
      <% end %>
    <% end %>
  </div>
 
  <div class="form-group">
    <%= f.submit %>
  </div>
 
<% end %>
