<h2>Cultural Property</h2>

<p>
  <strong>Title:</strong>
  <%= @cp.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @cp.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= link_to (Location.find(@cp.location_id).title), location_path(Location.find(@cp.location_id)) if @cp.location_id %>
</p>

<% Image.where(:cultural_property_id => @cp).in_groups_of(3).each do |image_array| %>
  <div class="row">

    <% image_array.each do |image| %>
      <% if !image.nil? %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= link_to (image_tag image.picture.url(:thumb)), image_path(image) %>
            <div class="caption">
              <h4><%= image.title %></h4>
              <p><%= image.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
<% end %>


<p><%= link_to 'Return to Cultural Properties List', cultural_properties_path %></p>
