<h1>Locations List</h1>
 
<%= link_to 'New Location', new_location_path %>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>County</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Cultural Properties</th>
    <th colspan="3"></th>
  </tr>
 
  <% @locations.each do |location| %>
    <tr>
      <td><%= link_to location.title, location_path(location) %></td>
      <td><%= location.description %></td>
      <td><%= location.county %></td>
      <td><%= location.lat %></td>
      <td><%= location.lng %></td>
      <td><%= link_to (CulturalProperty.where(:location_id => location).count), location_path(location) %></td>
      <td><%= link_to 'View', location_path(location) %></td>
      <td><%= link_to 'Edit', edit_location_path(location) %></td>
      <td><%= link_to 'Delete', location_path(location),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
