<p>
  <strong>Title:</strong>
  <%= @location.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>

<p>
  <strong>County:</strong>
  <%= @location.county %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.lat %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.lng %>
</p>

<%= link_to 'Return to Locations List', locations_path %>
